<div id="scheduler">
	<h2>Schedule Form</h2>
	<div class="content">
			<table>
				<tr>
					<td>Candidate Name:</td>
					<td><%= text_field_tag :name, "", onchange: "if($(this).val() != ''){$(this).attr('class', '')}" %></td>
				</tr>
				<tr>
					<td>Interviewing for:</td>
					<td><%= select :candidate, :position, [
						["Developer", "Developer"], 
						["Senior Developer", "Senior Developer"], 
						["Software Engineer", "Software Engineer"]], name: "Position" %>
					</td>
				</tr>
				<tr>
					<td>Date:</td>
					<td><%= text_field_tag :date, "", id: "interview_datepicker", onchange: "if($(this).val() != ''){$(this).attr('class', '')}" %></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: right;">
						<%= button_tag "Submit", onclick: "verifyInterview();" %>
						<input type="button" value="Cancel" onclick="$('#overlay_scheduler').hide();" /></td>
				</tr>
			</table>
	</div>
</div>

<script type="text/javascript">
	snapToCenter("overlay_scheduler");
	$("#overlay_scheduler").show();

	$(function() {
    $( "#interview_datepicker" ).datetimepicker();
  });
</script>
