<div id="editor" style="width:650px; height:500px;">
</div>

<script type="text/javascript">
  $('#editor').pad({'padId':'interview','showControls':'false','showLineNumbers':'true','width':'650','height':'500','border':'1', 'noColors':'true'});
</script>