<body>
<img style="display: block" src="email_header.jpg" />
<div style="width: 800px; border: 1px solid #111">
<p>You have been invited to join an interactive online interview. Please follow the link below and be ready to program.</p>
</div>
<img style="display: block" src="email_footer.jpg" />
</body>
